@page "/Asset_Management"
@inject IStringLocalizer<AssetsManagement> Loc
<PageTitle>@Loc["Asset Management"]</PageTitle>
<style>
    .Vignette {
        flex: 0 1 33.3333%;
        padding: 2rem;
        height: 10rem;
    }

        .Vignette .btn {
            height: 100%;
        }
</style>
<MainLoading IsLoading=@DataServices.IsBusy LoadingText="@DataServices.LoadingText">
    <h1 class="text-center">@Loc["Welcome to asset management home page"]</h1>
    <div class="d-flex flex-wrap">
        <div class="Vignette">
            <a class="btn btn-light d-flex align-items-center" style="margin:0.2rem 0rem" href="/Assets/Buildings">
                <span class="oi oi-map" style="margin-right:1rem; color:orangered"></span>
                @Loc["Buildings"]
            </a>
        </div>
        <div class="Vignette">
            <a class="btn btn-light d-flex align-items-center" style="margin:0.2rem 0rem" href="/404">
                <span class="oi oi-signpost" style="margin-right:1rem; color:gray"></span>
                @Loc["Roads"]
            </a>
        </div>
        <div class="Vignette">
            <a class="btn btn-light d-flex align-items-center" style="margin:0.2rem 0rem" href="/404">
                <span class="oi oi-box" style="margin-right:1rem; color:yellow; text-align:left"></span>
                @Loc["Inventory"]
            </a>
        </div>
        <div class="Vignette">
            <a class="btn btn-light d-flex align-items-center" style="margin:0.2rem 0rem" href="/404">
                <span class="oi oi-paperclip" style="margin-right:1rem; color:blue;text-align:left"></span>
                @Loc["Equipement"]
            </a>
        </div>
        <div class="Vignette">
            <a class="btn btn-light d-flex align-items-center" style="margin:0.2rem 0rem" href="/Assets/WorkList">
                <span class="oi oi-wrench" style="margin-right:1rem; color:green;text-align:left"></span>
                @Loc["Works"]
            </a>
        </div>
    </div>

</MainLoading>
@code {
    protected override async Task OnInitializedAsync()
    {
        DataServices.SetBusy(GlobalLoc["Loading ..."]);
        await base.OnInitializedAsync();
        DataServices.EndBusy();
    }
}
