@page "/"
@inject IStringLocalizer<Index> Loc

<PageTitle>@Loc["Home"]</PageTitle>

<style>
    .Vignette {
        flex: 0 1 33.3333%;
        padding: 2rem;
        height: 10rem;
    }

        .Vignette .btn {
            height: 100%;
        }
</style>
<div class="d-flex flex-wrap">
    <div class="Vignette">
        <a class="btn btn-light d-flex align-items-center" style="margin:0.2rem 0rem" href="/Asset_Management">
            <span class="oi oi-bar-chart" style="margin-right:1rem; color:orangered"></span>
            @Loc["Asset Management"]
        </a>
    </div>
    <div class="Vignette">
        <a class="btn btn-light d-flex align-items-center" style="margin:0.2rem 0rem" href="/404">
            <span class="oi oi-people" style="margin-right:1rem; color:gray"></span>
            @Loc["Human Resources"]
        </a>
    </div>
    <div class="Vignette">
        <a class="btn btn-light d-flex align-items-center" style="margin:0.2rem 0rem" href="/404">
            <span class="oi oi-credit-card" style="margin-right:1rem; color:yellow; text-align:left"></span>
            @Loc["Account & Finance"]
        </a>
    </div>
    <div class="Vignette">
        <a class="btn btn-light d-flex align-items-center" style="margin:0.2rem 0rem" href="/404">
            <span class="oi oi-file" style="margin-right:1rem; color:blue;text-align:left"></span>
            @Loc["Common"]
        </a>
    </div>
</div>

